extends layout

block content
  h1= message
  h2= error.status
  pre #{error.stack}


  #menu
    #menu1.menu(onclick='afficheMenu(this)')
      a(href='#') Menu 1
    #sousmenu1(style='display:none')
      .sousmenu
        a(href='#') Sous-Menu 1.1
      .sousmenu    a(href='#') Sous-Menu 1.2
  .sousmenu
    a(href='#') Sous-Menu 1.3
  .sousmenu
    a(href='#') Sous-Menu 1.4
#menu2.menu(onclick='afficheMenu(this)')
  a(href='#') Menu 2
#sousmenu2(style='display:none')
  .sousmenu
    a(href='#') Sous-Menu 2.1
  .sousmenu
    a(href='#') Sous-Menu 2.2
  .sousmenu
    a(href='#') Sous-Menu 2.3
#menu3.menu(onclick='afficheMenu(this)')
  a(href='#') Menu 3
#menu4.menu(onclick='afficheMenu(this)')
  a(href='#') Menu 4
#sousmenu4(style='display:none')
  .sousmenu
    a(href='#') Sous-Menu 4.1
  .sousmenu
    a(href='#') Sous-Menu 4.2
  .sousmenu
    a(href='#') Sous-Menu 4.3
  .sousmenu
    a(href='#') Sous-Menu 4.4
  .sousmenu
    a(href='#') Sous-Menu 4.5


          #mySidenav.sidenav
              a.closebtn(href='javascript:void(0)', onclick='closeNav()') ×
              #menu
                  mixin menu(tree)
                      ul
                          for node in tree
                              li= node.title
                              if node.sub
                                  +menu(node.sub)

                  +menu(data)

          span(style='font-size:30px;cursor:pointer', onclick='openNav()') ☰ Params



      // This example requires the Places library. Include the libraries=places
                      // parameter when you first load the API. For example:
                      // <script src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&libraries=places">
                      var map;
                      var infowindow;
                      var pyrmont = {lat: 47.589, lng: 1.3365};

                      var radius = 10000;


                      function initMap() {
                          var map = new google.maps.Map(document.getElementById('map'), {
                              center: pyrmont,
                              zoom: 12
                          });

                          var labels = 'ABCDEFGHIJKLMNOPQRSTUVWXYZ';

                          infowindow = new google.maps.InfoWindow();
                          var service = new google.maps.places.PlacesService(map);
                          service.nearbySearch({
                              location: pyrmont,
                              radius: radius,

                              type: ['point_of_interest']
                          }, callback);

                          var monCercle = new google.maps.Circle();
                          monCercle.setMap(map);
                          monCercle.setCenter(pyrmont);
                          monCercle.setRadius(radius);



                      }

                      function callback(results, status) {
                          if (status === google.maps.places.PlacesServiceStatus.OK) {
                              for (var i = 0; i < results.length; i++) {
                                  createMarker(results[i]);
                              }
                          }
                          else
                              alert("Problème avec l'api google");
                      }
                      function createMarker(place) {
                          var placeLoc = place.geometry.location;
                          var marker = new google.maps.Marker({
                              map: map,
                              position: placeLoc,
                              label: labels[i % labels.length]

                          });
                          google.maps.event.addListener(marker, 'click', function () {
                              infowindow.setContent('<div><strong>' + place.name + '</strong><br>' +
                                  'horaires: ' + place.opening_hours.open_now + '<br>' +
                                  '<img src=\"' + place.icon + '\" height=\"30" width=\"30\" >' + '<br>' +
                                  'type: ' + place.types + '<br>' +
                                  place.name + '</div>');
                              infowindow.open(map, this);
                          });
                      }




